.home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://source.unsplash.com/OkiDIla7K8Q");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.home-content {
  color: #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  padding-top: 15%;
}
.home-content h1 {
  font-size: 7rem;
}

.home-content p {
  font-size: 1.5rem;
  margin: 15px;
}
